
<!-- <mat-toolbar color="primary">

  <mat-toolbar-row class="header-toolbar-row">
    <span>Shoppin Cart</span>
    
    <span class="example-spacer"></span>
    
    <button mat-button matTooltip="Go Shopping!">Shop</button>
    <button mat-button matTooltip="My Account!">Account</button>
    <button mat-button matTooltip="Sell your product!">Sign-in/Signup</button>

  </mat-toolbar-row>

</mat-toolbar> -->

<!-- <mat-toolbar color="dark">
  
    <mat-toolbar-row class="header-toolbar-row">
      
      <button 
        mat-button 
        matTooltip="Top Deals!"
        [matMenuTriggerFor]="menu"    
      >
        Top Deals
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button matTooltip="Computer/Laptop/Phone">Electronic</button>
      <button mat-button matTooltip="Furnichure">Home & Applicances</button>
      <button mat-button matTooltip="Fashion for Men">Men's Fashion</button>
      <button mat-button matTooltip="Fashion for Women">Women's Fashion</button>
      <button mat-button matTooltip="Stay on shape">Health & Beauty</button>
      <button mat-button matTooltip="Get your ride">Sports & Motor</button>
      <button mat-button matTooltip="Cherish the moment">Books, Travel & Music</button>
  
    </mat-toolbar-row>
  
</mat-toolbar> -->

<router-outlet></router-outlet>