/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.example-icon {
    padding: 0 16px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-row:first-child{
    height: 20px;
}

.navbar-ul.mat-primary {
    background: #c2185b!important;
    color: rgba(255,255,255,.87);
}



.border-top-1{
    border-top: 1px solid #eeadad;
}

body{
    background-color: #ccc;
}
/* CHUCKSTRAP OVERWRITE */
@import '~chuckstrap/css/chuckstrap.min.css';